
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

p,h1,h2,h3,h4,h5 {margin: 0;}

ol,ul {margin: 0;
padding-left: 0;}



body {background-color: #FFFFFF;
    
font-family: 'Roboto', sans-serif;
}

.list {list-style: none;}

.link {text-decoration: none;}


/*header*/

.header {
   

height: 72px;
display: flex;
border-bottom: 1px solid #E7E9FC;





}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red;
    margin: 0 auto;
    
}

.header-container {display: flex;
align-items: center;
}


.logo {color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;;
    font-family: 'Raleway', sans-serif;
    
    }

.logo-one {color: #2E2F42;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
    margin-right: 76px;
   
}

.link {display: flex;
align-items: center;
gap: 40px;
}

.navigation {margin-right: auto;}

.studio { color: #2E2F42;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

 .portfolio { color: #2E2F42;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

.contacts { color: #2E2F42;
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

}

.mail { color: #434455;
    
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
font-family: 'Roboto': sans-serif;

    font-style: normal; 

}

.tel {color: #434455;
    font-family: 'Roboto': sans-serif;

    font-style: normal; 
    
font-size: 16px;
line-height: 1.5px;
letter-spacing: 0.02em;
}

/*main*/

/*  */

.sections {

    padding-top: 96px;
    padding-bottom: 120px;

}




.portfolio-main {

    .visually-hidden 
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    
    
 
    
  /*як правильно  написати команду впаттен віжіалі: hidden;*/
}

.container-portfolio{
    
    margin-left: 271px;
  
}

.link-one-portfolio {
    display: flex;
    margin-bottom: 72px;
    justify-content: center; 
    gap: 24px; 
}

.all {
    background: #4D5AE5;
       color: #FFFFFF;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
height: 48px;
padding-right: 24px;
padding-left: 24px;

}





.web { color: #4D5AE5;
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
box-sizing: border-box;
height: 48px;
text-align: center;



}



.app {
    color: #4D5AE5;
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;

box-sizing: border-box;
flex-direction: row;
justify-content: center;
align-items: center;
padding-right: 24px;
padding-left: 24px;

height: 48px;

}
.desings {
    color: #4D5AE5;
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;

box-sizing: border-box;
flex-direction: row;
justify-content: center;
align-items: center;

height: 48px;

}

.marketing {
    color: #4D5AE5;
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;

box-sizing: border-box;
flex-direction: row;
justify-content: center;
align-items: center;
height: 48px;

}


/*----------HERO--------*/

.type-2 {

    display: flex;
    flex-wrap: wrap;
    gap: 24px;
   row-gap: 48px;
    

}

.type-portfolio {

}

.type-text{
border: 1px solid #E7E9FC;
padding-left: 16px;
padding-top: 32px;
padding-bottom: 32px;

}

.type-portfolio-title {
    color: #2E2F42;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;


}
.type-portfolio-text {
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-top: 8px;

}



/*--------footer------------*/

.footer {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
      
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
    
}
.logo-two {
    color: #F4F4FD;
    font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
font-family: 'Raleway', sans-serif;
}
.type-portfolio-text1 {
    color: #E7E9FC;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.02em;
width: 264px;
margin-top: 16px;

}







/*---main page--*/


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

p,h1,h2,h3,h4,h5 {margin: 0;}

ol,ul {margin: 0;
padding-left: 0;}



.body-main {
  
font-family: 'Roboto', sans-serif;



}


.list {list-style: none;}

.link {text-decoration: none;}


/*--header main page--*/









.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red;
    margin: 0 auto;

}

.main-container{
    display: flex;
    align-items: center;
    
}

.header-main {
    
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    
    
    
    }



.logo {color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
    
    
    }

.logo-main {color: #2E2F42;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
    margin-right: 76px;
    
}

.navigation {
    display: flex;
    gap: 40px;
    
    
}

.studio1 { color: #2E2F42;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

 .portfolio-one { color: #2E2F42;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
    }

.contacts-one { color: #2E2F42;
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.address{
    display: flex;
}

.mail-one { color: #434455;
   
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
font-family: 'Roboto':sans-serif;
font-style: normal;


}

.tel-one {color: #434455;
    font-family: 'Roboto': sans-serif;

    font-style: normal;   
font-size: 16px;
line-height: 1.5px;
letter-spacing: 0.02em;
}







/*--main page--*/




.basis-main {
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;




    
    }
   
    

.title-main {
    color: #FFFFFF;
    font-weight: 600;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;

margin-bottom: 48px;








}
.order {
   
    background-color: #4D5AE5;

    color: #FFFFFF;
    width: 169px;
height: 56px;
left: 636px;
top: 428px;

    font-weight: 600;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.04em;
margin-top: 48px;
display: block;
margin: 0 auto;




   
}
.description {
    
    
    display: flex;
    gap: 24px;
   

}
.description1 {

    
}
.tape-description {
    color: #2E2F42;
    font-family: 'Roboto';
font-style: normal;
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;








}
.description-text {
    color: #434455;

font-family: 'Roboto';
font-style: normal;
    font-weight: 400;
    width: 264px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
flex: none;
order: 1;
flex-grow: 0;
}




.seconds-what{

    padding-bottom: 120px;
}




.title-second {
    color: #2E2F42;
    font-weight: 600;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
margin-bottom: 72px;
text-align: center;

}
.description-imag {
   
    display: flex;
    gap: 24px;
    
}
.type-title {
    box-sizing: border-box;
    width: 360px;
height: 300px;
flex: none;
order: 0;
flex-grow: 0;

    
}

.seconds {
 
    padding-bottom: 120px;
    padding-top: 120px;
    
   
}


.seconds-our {

    padding-bottom: 120px;
    padding-top: 120px;

}

.type-second{

    display: flex;
    gap: 24px;
    
  
    
}

.title-seconds {
    color: #2E2F42;
    font-weight: 600;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 72px;


}
.type-title-seconds {

    width: calc((100%-72p)/4);
    
   

}

.tape-description-two {
    color: #2E2F42;
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;

}
.description-text-two {
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-top: 8px;
text-align: center;

}
.type-title-second {
    background: #FFFFFF;
}

.our {

    padding-top: 32px;
    padding-bottom: 32px;
}




/*--footer main page--*/


.footer-main-page {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    
  
    


}

.logo-footer {
    color: #4D5AE5;
   
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
font-family: 'Raleway', sans-serif;
text-decoration: none;


}
.logo-two {
color: #F4F4FD;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
font-family: 'Raleway', sans-serif;






}
.type-main-text {
    color: #E7E9FC;
 
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
width: 264px;
margin-top: 16px;
}